<div>
	<form name="AgencyForm" ng-controller="AgencyController as agCtrl" ng-submit="AgencyForm.$valid && agCtrl.addAgency(agency)" ng-show="panel.isSelected(2)" novalidate>
		<blockquote>
			<b>Name: {{agCtrl.agency.name}}</b> 
			<br>
			<b>Phone: {{agCtrl.agency.phone}}</b>
			<br>
			<cite>Address: {{agCtrl.agency.address}}</cite>
		</blockquote>
		<label>Name:</label>
		<input ng-model="agCtrl.agency.name" required/>
		<br>
		<label>Phone:</label>
		<input ng-model="agCtrl.agency.phone" required/>
		<br>
		<label>address:</label>		
		<textarea ng-model="agCtrl.agency.address" required> </textarea>		
		<div> Formulario es {{AgencyForm.$valid}}</div>
		<input type="submit" value="Submit"/>
	</form>
</div>