	<!-- esto hay que quitarlo de aqui -->
	<div ng-show="panel.isSelected(2)" class="media" ng-controller="AgencyController as courier">
		<!-- workaround1 = getting the first agencies to show -->
		<a href="#/agencies" ng-init="getAgencies()"></a> 
		<!-- workaround2 = after a new agency is added, to refresh the page -->
		<button href="#/agencies" ng-click="getAgencies()"> Refresh </button>

		<div class="media-body">
			 <table class="table table-hover">
				<thead>
					<tr>
						<th>Name</th>
						<th>Phone</th>
						<th>Address</th>
						<th colspan="3"> Actions </th>
					</tr>
				</thead>
				<tbody>
					<!-- listing resourses one by one -->
					<tr ng-repeat="agencia in courier.agencies">
						<td>{{agencia.name}}</td>
						<td>{{agencia.phone}}</td>
						<td>{{agencia.address}}</td>
						<td>
						<a  href="#/agencies/{{agencia.id}}" ng-click="setAgency(agencia.id)"> Show </a>
						<a  href="#/agencies/{{agencia.id}}/edit" ng-click="setAgency(agencia.id)"> Edit </a>
						<a  href="#/agencies/" ng-click="deleteAgency(agencia.id)"> Delete </a>
						</td>
					</tr>
				</tbody>
			</table>
			<a href="#/agencies/new"> Nueva Agencia </a>
		</div>

		<!-- param mi desgracia, esto anterior sirve -->


</div>
	</div>